{%extends 'layout.html'%}

{%block content %}

<div class=" text-center" style="padding:15px;">
    <h1> Welcome</h1>
    <br><br><br>
    
        <div class="row">
          <div class="col"><a href="first"><button type="button" class="btn btn-primary"><h3>Start</h3> </button></a></div>
          <div class="col"></div>
          <div class="col"><a href="add">
            <button type="button" class="btn btn-danger"><h3>Add</h3></button>
        </a></div>
        </div>
      
    </div>

{%endblock%}